.mainchart
{
    height:  50vh;
}
.btns{
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}
.btn
{
    font-family:"Vazir" ,BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
    border: 0.1rem solid #ccc;
    color: rgba(230, 230, 230, 0.95);
    background-color: rgba(51, 51, 51, 0.2) ;
    border-radius: 3rem;
    width: 15%;
    height: 70%;
    box-shadow: 0px 1.5px 2px #aaa;
    transition : ease-in-out 0.4s;

}
.btn:hover{  transform: scale(1.2);
}
.btn:disabled
{
    transform: scale(1.2);
    color : rgba(75,192,192,1);
    border-color: rgba(75,192,192,1);
    box-shadow: 0px 1.5px 2px rgba(75,192,192,1);
}
