.main
{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 26%;
    text-align: center;
    border-top: 0.1rem solid;
    border-bottom: 0.1rem solid;
    border-radius: 5rem;
    height: 6rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.head
{
    margin-bottom: -1rem;
    font-size: 1.5rem;
}
.div
{
  display: flex;
  justify-content: center;
  margin: auto 0;
}
.icon{
  font-size: 2rem;
  margin: auto 1rem auto 0;
}
.p
{
    text-align: center;
  font-size: 1.8rem;
}
@media screen and (max-width: 1550px) {
    .card {
      width: 40%;
    }
}
@media screen and (max-width: 1040px) {
    .card {
      width: 65%;
    }
    .p{font-size: 1.4rem;}
    .icon {font-size: 1.4rem;}
}
