.name {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
}
.img {
  width: 2rem;
  height: 2rem;
}
.main {
  padding: 0 1rem;
  text-align: center;
  font-style: italic;
  height: 10rem;
  width: 26rem;
  border-top: thin solid;
  border-bottom: thin solid;
  border-radius: 4rem;
  margin: 2rem 0.2rem;
  box-shadow: 0px 3px 2px white;
  cursor: pointer;
}
.h1 {
  font-size: 1.5rem;
  margin: 0.2rem;
}
.div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
