.main {
  margin: 2rem auto 0 auto;
  text-align: center;
  font-style: italic;
  border-top: 0.2rem outset;
  border-bottom: 0.2rem outset;
  width: 60%;
  padding: 1.5rem;
  border-radius: 3rem;
  line-height: 2rem;
}
.head {
  margin: 0 0 1rem 0;
  font-size: 2rem;
}
@media screen and (max-width: 1200px) {
  .main {
    width: 75%;
  }
}
@media screen and (max-width: 600px) {
  .main {
    width: 90%;
  }
}
