.pag {
  margin: 0 auto;
  text-align: center;
  font-size: 1.05rem;
  width: 90%;
  line-height: 2rem;
  border-collapse: collapse;
}
.trr {
  border-top: solid thin;
  height: 6rem;
}
.scd {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-left: 1.2rem;
  cursor: pointer;
}
.img {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}
.td {
  text-align: left;
  padding-left: 1.2rem;
}
.header {
  text-align: center;
  font-style: italic;
}
@media screen and (max-width: 1250px) {
  .hiddenfirst {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .hiddenscd {
    display: none;
  }
  .header {
    font-size: 1.7rem;
  }
}
