.div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.div2 {
  display: flex;
  justify-content: space-between;
  width: 65%;
}
.ch {
  width: 45%;
  height: 50vh;
}
.state{width: 26%;}
@media screen and (max-width: 1300px) {
  .div2 {
    flex-direction: column;
  }
  .div2{width: 50%;}
  .ch{width: 80%; margin: 1rem auto;}
  .state{width: 40%;}
}
@media screen and (max-width: 830px) {
.div{flex-direction: column-reverse;}
  .div2{width: 90%;}
  .ch{width: 80%; margin: 1rem auto;}
  .state{width: 60%;margin-bottom: 2rem;}
}
@media screen and (max-width: 830px) {
    .state{width: 80%}
  }
