.main {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}
.parag {
  font-size: 4rem;
  text-align: center;
  font-style: italic;
}
.svg {
  font-size: 5rem;
}
.div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
